/* lefthand-nav */
.lefthand-nav {
  margin: 25px;
  /* width: 235px; */
  width: 15vw;
  border-right: 1px var(--color-primary) solid;
  display: flex;
  flex-direction: column;
}

.menu {
  margin-bottom: 25px;
  padding: 10px 12px;
  width: fit-content;
  border-radius: 8%;
}

ul.no-bullets {
  list-style: none;
  margin: 0;
}

li.menu-dropdown {
  margin-top: 10px;
  padding: 10px 12px;
  width: fit-content;
  border-radius: 5px;
}

.menu-link {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-dark);
}

.current-tab {
  background-color: var(--color-primary);
}

/* AccountPage(Profile) */
.main-account-page {
  display: grid;
  width: 100%;
  grid-template-columns: 15vw auto;
  column-gap: 5vw;
}

.profile-page {
  padding: 15px 25px;
  width: 75vw;
}

.edit-profile {
  background-color: #2b4257;
  color: white;
  width: 8vw;
  height: fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 5%;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.profile-pic {
  width: 23vw;
  height: 23vw;
  /* max-width: 350px;
  max-height: 350px;
  min-width: 200px;
  min-height: 200px; */
  /* border-color: black;
  border-style: solid; */
}

.main-info-profile {
  margin: 10px 10px 30px 10px;
  display: grid;
  /* grid-template-columns: 380px auto;
  column-gap: 30px; */
  grid-template-columns: 30vw auto;
  /* column-gap: 5vw; */
}

.sub-info-profile {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.account-info {
  width: 300px;
  padding-left: 30px;
  /* color: var(--color-dark); */
  color: #2679b9;
}

.about-you {
  margin: 10px;
  padding: 20px 30px 20px 30px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 3px 3px gray;
  border-radius: 3%;
  background-color: #f8f9fa;
}

.badge-pic {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
}

.star {
  width: 20px;
  height: 20px;
}

.link-button {
  text-decoration: none;
  color: white;
}

/* EditProfilePage */
.editing {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: default;
}

.cancel {
  background-color: white;
  color: var(--color-dark);
  border: 3px var(--color-dark) solid;
}

.main-editing-page {
  padding: 10px;
  display: grid;
  grid-template-columns: 30vw auto;
}

.input-editing {
  border: 3px var(--color-secondary) solid;
  border-radius: 5px;
  padding: 3px 8px;
  width: 25vw;
  margin-bottom: 20px;
}

.choose-image {
  width: 23vw;
  height: 23vw;
}

/* MyOrderNav */
.My-Order-Nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.Order-Menu {
  margin: 20px;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
}

/* AccountPage(Review) */

.all-review {
  margin: 25px auto;
}

.Review-box {
    border: 2px var(--color-primary) solid;
    border-radius: 10px;
    display: grid;
    height: fit-content;
    grid-template-columns: 13vw 32vw auto;
    overflow: hidden;
    padding: 20px 20px 20px 35px;
    margin-bottom: 20px;
}

.mini-pic-goods {
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}

.Review-boxV2 {
  border: 2px var(--color-primary) solid;
  border-radius: 10px;
  display: grid;
  height: fit-content;
  max-height: 180px;
  grid-template-columns: 250px auto;
  overflow: hidden;
  padding: 20px 25px 30px 25px;
  margin-bottom: 20px;
}

.can_click {
  cursor: pointer;
}

/* AccountPage(Following) */

.Follow-button {
  border: 3px #228be6 solid;
  border-radius: 20px;
  background-color: white;
  height: fit-content;
  width: 10vw;
  min-width: 100px;
  padding: 5px 20px 0px;
  color: #228be6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.followHeart {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* MyOrderPage */
.status-box {
  margin-top: 25px;
}

.status-text {
  color: #fa5252;
  font-size: 20px;
  /* visibility: hidden; */
}

.Order-box {
  grid-template-columns: 13vw 32vw auto;
  height: fit-content;
  max-height: 200px;
  overflow: hidden;
  margin-right: 2vw;
}

.no-data-page {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: rgb(202, 201, 201);
    font-size: 30px;
    font-style: italic;
    font-style: bold;
}

/* Follow buttons */
.follow-btn, 
.follow-btn:focus{
    border-color: var(--color-dark);
    height: fit-content;
}
.follow-btn:hover{
    background-color: #eee;
}
.follow-btn:active{
    background-color: #ccc;
}
/* Follow active */
.follow-btn.active, 
.follow-btn:focus.active{
    border-color: none;
    background-color: #be2525;
    color: #fff;
}
.follow-btn:hover.active{
    background-color: #d94b4b;
}
.follow-btn:active.active{
    background-color: #901c1c;
}

/* fontcolor&bordercolor in myorder */

.bid-currently,
.bid-waitingConfirmSlip,
.bid-waitingForShipping,
.auction-on,
.auction-waitingForPayment,
.auction-waitingForConfirm,
.auction-waitingAdminPayment {
  color: #228be6;
  border-color: #228be6;
}

.bid-waitingForPayment,
.bid-waitingForConfirm,
.auction-waitingForShipping {
  color: #fa5252;
  border-color: #fa5252;
}

.bid-finished,
.auction-finished,
.bid-waitingAdminPayment {
  color: #2f9e44;
  border-color: #2f9e44;
}
