#content{
    max-width: 2000px;
    margin: auto;
    width: 100%;
    display: inline-block;
}
#auction-main{
    margin: 25px 25px 25px 0;
    height: 700px;
    justify-content: space-around;
    display: flex;
}
/* Auction Top */
#auction-top{
    float: left;
    width: 20vw;
    margin: 25px 25px 25px 0;
    border-right: 1px var(--color-primary) solid;
    height: 700px;
}
#auction-top h2{
    text-align: center;
    margin-bottom: 1em;
}
#topbidder-list{
    margin-right: 30px;
    overflow: scroll;
    height: 500px;
}
.topbidder-element{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.topbidder-element::marker{
    margin-left: 0;
}
.bidding-price{
    float: right;
}
.bidding-date{
    font-size: 0.7em;
    color: #858585;
}
.bidding-front{
    display: inline-grid;
    width: 50%;
}
/* Gallery */

#gallery{
    float: left;
    width: 40%;
    height: 700px;
}
#main-picture-wrapper{
    height: 80%;
    display: flex;
    justify-content: center;
}
#picture-list{
    height: 5em;
    overflow: scroll;
    overflow-x: scroll;
}
#main-picture{
    /* height: 100%; */
    width: 100%;
    object-fit: contain;
}
.list-picture{
    height: 5em;
    width: 5em;
    object-fit:cover;
    margin: auto 5px;
}
.list-picture:hover{
    border: var(--color-blue-dark) solid 5px;
}
#button-right{
    margin: 0 auto;
    float: right;
}
.picture-button, .picture-button:focus{
    height: 100%;
    background-color: var(--color-primary);
    border: none;
}
.picture-button:hover{
    background-color: var(--color-secondary);
}
.picture-button:active{
    background-color: var(--color-dark);
}

#product-title > button{
    margin-left: 1em;
}
#product-title > h1{
    vertical-align: middle;
    display: inline;
}
/* Follow buttons */
.follow-btn, 
.follow-btn:focus{
    border-color: var(--color-dark);
}
.follow-btn:hover{
    background-color: #eee;
}
.follow-btn:active{
    background-color: #ccc;
}
/* Follow active */
.follow-btn.active, 
.follow-btn:focus.active{
    border-color: none;
    background-color: #be2525;
    color: #fff;
}
.follow-btn:hover.active{
    background-color: #d94b4b;
}
.follow-btn:active.active{
    background-color: #901c1c;
}

#auction-detail{
    display: inline;
    width: 30vw;
}
#auction-bid-pane{
    width: 100%;
}
#auction-desc-pane{
    overflow: scroll;
    width: 100%;
}
#auction-content{
    display: flex;
    padding: 10px;
    height: 16em;
    width: 100%;
}

#bidding{
    margin-bottom: 1em;
}
#bidding-message{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
}
#static-price{
    display: flex;
    justify-content: space-around;
}
#static-price .btn{
    font-size: 1.5em;
}
.bid-button, .bid-button:focus{
    background-color: var(--color-blue);
    color: #ffffff;
    border: none;
}
.bid-button:hover{
    background-color: var(--color-blue-dark);
    color: #ffffff;
}
.bid-button:active{
    background-color: var(--color-dark);
}
#bid-group{
    display: flex;
    align-items: center;
    padding: 0 1em;
}
#bid-price{
    width: 80%;
    outline: 2px solid var(--color-blue);
    border: none;
    outline-offset: -2px;
}
#or-wrapper, #select-wrapper{
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
#min-price{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: rgb(153, 153, 153);
    margin-left: 2em;
}

#auction-info #info-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#auction-info #info-bottom{
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  background-color: #F8F9FA;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
}
#info-top .info-data{
    font-size: 1.2em;
}
#info-bottom .info-data{
    font-size: 2em;
}
#history-button{
    border: #858585 solid 1px;
}
#history-button:hover{
    background-color: #858585;
}
#history-wrapper{
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}
/*** History ***/
#history-modal{
    max-width: 700px;
}
#history-table{
    /* width: 90%; */
    /* background-color: var(--color-primary); */
    /* border-radius: 14px; */
    text-align: center;
    font-size: 25px;
}
#history-table thead{
    background-color: var(--color-primary);
}
#history-table thead tr th{
    padding: 1em 0.5em;
}
#history-table tbody td{
    padding: 0.5em 0.2em;
}
#history-table tbody td:nth-child(2n+1){
    border-right: 1px #fff solid;
}
#history-table tbody td:nth-child(2n){
    border-left: 1px #fff solid;
}
#history-table thead{
    border-bottom: 1px #fff solid;
}
#history-error{
    text-align: center;
    font-size: 1.5em;
}