#content{
    max-width: 2000px;
    margin: auto;
    width: 100%;
    display: inline-block;
}
#auction-main{
    width: 65vw;
    margin: 25px 25px 25px 0;
    height: 700px;
    justify-content: space-around;
    display: flex;
}
/* Auction Top */
#auction-top{
    float: left;
    width: 20vw;
    margin: 25px 25px 25px 0;
    border-right: 1px var(--color-primary) solid;
    height: 700px;
    overflow: scroll;
}
#auction-top h2{
    text-align: center;
    margin-bottom: 1em;
}
#topbidder-list{
    margin-right: 30px;
}
.topbidder-element{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.topbidder-element::marker{
    margin-left: 0;
}
.bidding-price{
    float: right;
}
.bidding-date{
    font-size: 0.7em;
    color: #858585;
}
.bidding-front{
    display: inline-grid;
    width: 50%;
}
/* Gallery */

#gallery{
    float: left;
    width: 40%;
    height: 700px;
}
#main-picture-wrapper{
    height: 80%;
    display: flex;
    justify-content: center;
}
#picture-list{
    height: 5em;
}
#main-picture{
    /* height: 100%; */
    width: 100%;
    object-fit: contain;
}
.list-picture{
    height: 5em;
    width: 5em;
    object-fit:cover;
    margin: auto 5px;
}
#button-right{
    margin: 0 auto;
    float: right;
}
.picture-button, .picture-button:focus{
    height: 100%;
    background-color: var(--color-primary);
    border: none;
}
.picture-button:hover{
    background-color: var(--color-secondary);
}
.picture-button:active{
    background-color: var(--color-dark);
}

#auction-detail{
    display: inline;
    width: 30vw;
}

#auction-content{
    display: flex;
    padding: 10px;
    height: 50%;
}

#bidding{
    margin-bottom: 1em;
}
#bidding-is-auctioneer{
    border: 2px solid #000;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    padding: 30% 20%;
    margin-bottom: 1em;
}
#static-price{
    display: flex;
    justify-content: space-around;
}
#static-price .btn{
    font-size: 1.5em;
}
.bid-button, .bid-button:focus{
    background-color: var(--color-blue);
    color: #ffffff;
    border: none;
}
.bid-button:hover{
    background-color: var(--color-blue-dark);
    color: #ffffff;
}
.bid-button:active{
    background-color: var(--color-dark);
}
#bid-group{
    display: flex;
    align-items: center;
    padding: 0 1em;
}
#bid-price{
    width: 80%;
    outline: 2px solid var(--color-blue);
    border: none;
    outline-offset: -2px;
}

#auction-info #info-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#auction-info #info-bottom{
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  background-color: #F8F9FA;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
}
#info-top .info-data{
    font-size: 1.2em;
}
#info-bottom .info-data{
    font-size: 2em;
}