:root {
  --color-primary: #c3d3e0;
  --color-secondary: #a3bcd0;
  --color-text: #2b4257;
  --color-dark: #091235;
  --color-attention: #f08c00;
  --color-grey-box: #f8f9fa;
  --color-blue: #228BE6;
  --color-blue-dark: #1260a4;
  --radius: 20px;
  --box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px 0;
}

.Report {
  position: absolute;
  right: 50px;
  border-radius: 5%;
  color: #fff;
  background-color: #dc3545;
  height: 50px;
  width: 120px;
  text-align: center;
  border: solid 1px #fff;
}

.modal-report-header-text {
  margin-left: 10px;
}
  
.modal-body-report {
  margin: 20px 0px 20px 25px;
}
  
.modal-body-report div {
  margin: 10px 0px 10px 12px;
}
  
.report-box {
  border: 3px solid var(--color-primary);
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
}