.auctionCard{
	/* width: 9.5rem; */
  width: 12.4rem;
  border-radius: 20px;
  /* width: 18rem;
  min-width: 10rem; */
  margin: auto 20px;
  box-shadow: var(--box-shadow);
  background-color: #F8F9FA;
  /* min-width: 15%; */
  /* height: 9.2rem; */
}

/* .cardBody{
  border: 2px solid red;
  margin-left: -10%;
  margin-right: -10%;
} */

.flexRow{
  display: flex;
  box-sizing: border-box;
  /* justify-content: space-around; */
  justify-content: left;
}

.headHome{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.detail{
  font-size: 24px;
  font-weight: bold;
  margin-left: 2em;
  margin-top: 2em;
}

.itemName{
  /* font-size: medium; */
  /* height: 55px; */
  font-size: medium;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 10px 4px 20px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.timeBox{
  position: absolute;
  margin-top: -1rem;
  margin-left: 0.5rem;
  background-color: white;
  width: 7rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 4px 4px 0;
  text-align: center;
}

.timeBox-red{
  background-color: #FF3131;
  color: white;
}

.card-img-top{
  /* height: 15vm; */
  border-radius: 16px 16px 0 0;
  height: 200px;
  object-fit: cover; /*add object-fit: cover; to fit image for card*/
  /* min-width: 15%; */
  min-height: 112.5px;
}

.card-text{
  font-size:1.7em;
  font-weight: bold;
  margin-top: -18px;
  margin-bottom: -10px;
  padding: 10px 10px 10px 20px;
}

.itemTime{
  border: 1px solid black;
  border-radius: 15px;
  border-radius: 15px;
  margin-bottom: -5px;
}

.button{
  width: 1rem;
  opacity: 50%;
  margin-top: 6.5rem;
}

.filter{
  position: absolute;
  left: 85.1%;
}

.itemName-link{
  text-decoration: none;
  color: black;
}

.itemName-link:hover{
  color: black;
}

.row>* {
  padding: 0px;
}

.auctionCardRow .scrolling-wrapper {
  margin-left: 2em;
}

.scrolling-wrapper{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

/* .scrolling-wrapper::-webkit-scrollbar{
    display: none;
} */

/* width */
.scrolling-wrapper::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.scrolling-wrapper::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey;  */
  border-radius: 100px;
  background-color: white;
}
 
/* Handle */
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200); 
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175); 
  border: 5px solid transparent;
  background-clip: content-box;
}

#jumbotron{
  background-color: #0A3E8A;
  padding-left: 5em;
  padding-bottom: 1em;
  border-radius: var(--radius);
  width: 100%;
  color: #fff;
  display: flex;
  margin-bottom: 2em;
}

#jumbotron div {
  overflow:hidden;
  display: inline-block;
  width:50%;
}
#jumbotron div h1 {
  padding-top: 3em;
  display: inline-block;
  margin-bottom: 2em;
}

#jumbotron div a{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: white;
  border-radius: var(--radius);
  background: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.5em;
}

#jumbotron div a:hover{
  background: #eee;
}

#jumbotron img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* height: 70%; */
}