.card{
	width: 18rem;
  min-width: 10rem;
  margin: auto 20px;
  box-shadow: var(--box-shadow);
  background-color: #F8F9FA;
}

.flexRow{
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;  
}

.headHome{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.detail{
  font-size: 24px;
  font-weight: bold;
}

.pictureBox{
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  height: 193.08px;
}

.itemName{
  font-size: medium;
  font-weight: normal;
  margin-top: 10px;
}

.timeBox{
  position: absolute;
  margin-top: -1rem;
  margin-left: 0.5rem;
  background-color: white;
  width: 7rem;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.card-img-top{
  height: 15vw;
  object-fit: cover; /* add object-fit: cover; to fit image for card*/
}

.card-text{
  font-size: x-large;
  font-weight: bold;
  margin-top: -18px;
  margin-bottom: -10px;
}

.itemTime{
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: -5px;
}

.button{
  width: 1rem;
  opacity: 50%;
  margin-top: 6.5rem;
}

.filter{
  position: absolute;
  left: 85.1%;
}