/* Nav Bar*/
.navbar, .navbar .navbar-brand{
	background-color: var(--color-primary);
	color: var(--color-dark);
}

#nav-search {
	border-radius: var(--radius);
	background-color: var(--color-secondary);
}

#offcanvas-nav {
	background-color: var(--color-primary);
  /* add overflow-y: auto; for scroll categories */
  overflow-y: auto;
  /* add line-height: 1rem; for shrink white space between nav*/
  line-height: 1rem;
  width: 20.8rem;
}

#offcanvas-nav::-webkit-scrollbar{
  display: none;
  /* -webkit-scrollbar{display: none;} for hide scrollbar */
}

.nav-dropdown{
	background-color: var(--color-primary);
	border: none;
}
.nav-dropdown .dropdown-item:hover{
	background-color: var(--color-secondary);
}

#navProfilePic{
	width: 50px;
	display: flex;
	justify-content: center;
	border-radius: 100%;
}
#nav-right{
	display: inherit;
}

#profile-link{
	height: 1.5em;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1em;
	margin-right: 0.5em;
}
#offcanvas-profile{
	display: inherit;
}