.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-not-found-img {
  height: 500px;
}

.description-section {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 150%;
}
