:root {
  --line-border-fill: #228be6;
  --line-border-empty: #dee2e6;
  --text-color-empty: #ced4da;
}

/* Form */
.place-auction-form {
  color: var(--color-text);
  margin: 0 10% 0 15%;
  width: 50%;
}

.payment-form {
  color: var(--color-text);
  margin: 0 10% 0 15%;
  width: 80%;
}

.sub-form {
  margin: 2% 0 2% 10%;
}

.form-heading1 {
  font-size: 150%;
  font-weight: 600;
}

.form-label {
  font-size: 100%;
  font-weight: 400;
}

.header {
  font-size: 200%;
  font-weight: 600;
  color: var(--color-text);
  margin: 1% 0 1% 2%;
}

.form-control {
  border-color: var(--color-primary);
}

.attention {
  color: var(--color-attention);
}

.form-control {
  border-width: 5px;
}

.form-footer {
  margin: 1% 0 1% 10%;
}

.form-footer div {
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-input-field {
  margin-top: 2%;
  margin-bottom: 2%;
}

.input-field-flex {
  display: flex;
  flex-direction: row;
}
.currency {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-button {
  margin-right: 20px;
}

.form-submit-btn {
  margin-top: 25px;
}

/* Place Auction*/
.place-auction-upload-description {
  margin-top: 0;
  font-size: 80%;
  color: #868e96;
}

.auction-type-button {
  display: flex;
  justify-content: space-evenly;
}

/* Preview Picture */
.preview-picture {
  max-width: 60%;
  height: auto;
}

/* Promptpay QR Picture */
.promptpayqrpic {
  max-width: 40%;
  height: auto;
}

.center-pic {
  display: flex;
  justify-content: center;
}

/* Preview Transaction Slip Pic */
.transaction-slip-pic {
  max-width: 50%;
  height: auto;
}

/* Billing Info Page */

.billing-info-page {
  padding: 2% 10% 2% 10%;
  display: grid;
  grid-template-columns: 2% 1fr 1fr 2%;
  grid-template-areas:
    '. order order .'
    '. progress progress .'
    'address address tracking tracking'
    'summary summary tracking tracking';
}

.billing-info-order-grid {
  grid-area: order;
}

.billing-info-address-box-grid {
  grid-area: address;
  margin: 2% 2% 2% 0;
}

.billing-info-tracking-card-grid {
  grid-area: tracking;
  margin: 2% 0 0 2%;
}

.billing-info-summary-card-grid {
  grid-area: summary;
  margin: 2% 2% 0 0;
}

.billing-info-progress-grid {
  grid-area: progress;
  margin: 4% 0 4% 0;
}

/* Address Card */
.grey-box {
  background-color: var(--color-grey-box);
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 15px 20px;
}

.address-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-box-name {
  font-size: 130%;
  font-weight: 600;
}

.address-box-address {
  margin-left: 10%;
}

.address-box-phone {
  font-size: 100%;
  font-weight: 500;
  align-self: flex-end;
}

/* Shipping card */
.shipping-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shipping-header {
  font-size: 130%;
  font-weight: 600;
}

.shipping-detail {
  margin: 2% 0 2% 5%;
  font-size: 110%;
}

/* Summary Card */

.summary-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-card-header {
  font-size: 130%;
  font-weight: 600;
}

.summary-card-total {
}

/* Item Card */
.item-card {
  display: flex;
  align-items: row;
  border: solid var(--color-secondary);
  border-radius: var(--radius);
  padding: 20px;
  width: 70%;
  height: 150px;
}

/* Item Picture in Item Card */
.item-picture {
  width: auto;
  height: 100%;
}

/* Item Detail in Item Card */
.item-card-detail {
  margin-left: 30px;
}

.package-picture {
  border-radius: var(--radius);
  margin: 10px;
  width: 40%;
  height: auto;
}

.left-side-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.page-with-summary {
  display: flex;
  flex-direction: row;
}

.form-section {
  width: 60%;
  height: auto;
}

.payment-summary-section {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-summary-card {
  position: sticky;
  top: 150px;
  width: 300px;
  height: 420px;
}

.payment-summary-card img {
  width: 80%;
  height: auto;
}

.payment-summary-header {
  font-size: 150%;
  font-weight: 600;
}

.payment-summary-detail {
  font-size: 110%;
}

.payment-summary-pic-container {
  margin: 5% 0 5% 0;
}

.payment-summary-pic {
  border-radius: var(--radius);
}

.payment-summary-price {
  font-size: 125%;
  font-weight: 600;
}

/* handle responsive */
@media only screen and (max-width: 800px) {
  .payment-form {
    margin: 0 10% 0 10%;
    width: 80%;
  }
  .place-auction-form {
    margin: 0 10% 0 10%;
    width: 80%;
  }
  .payment-summary-section {
    display: none;
  }
  .form-section {
    width: 100%;
    height: auto;
  }
  .billing-info {
    flex-direction: column;
  }
  #payment-form {
    font-size: 90%;
  }
}

/* Payment Page*/
.no-outline-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 500;
  color: var(--color-text);
}

.promptpay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promptpay-header {
  width: 140px;
  height: auto;
}

/* Progress Bar */
.progress-bar-icon {
  width: 50%;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 0;
  transition: 0.4s ease;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: 0;
  transition: 2s linear;
}
.progress.waitingForPayment {
  width: 20%;
  transition: 0.5s linear;
}

.progress.waitingConfirmSlip {
  width: 40%;
  transition: 1s linear;
}

.progress.waitingForShipping {
  width: 60%;
  transition: 1.5s linear;
}

.progress.waitingForConfirm {
  width: 80%;
  transition: 2s linear;
}

.progress.completed {
  width: 100%;
  transition: 2.5s linear;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid var(--line-border-empty);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  z-index: 1;
}

.circle.waitingForPayment {
  transition: 0.25s ease 0.5s;
}

.circle.waitingConfirmSlip {
  transition: 0.25s ease 1s;
}

.circle.waitingForShipping {
  transition: 0.25s ease 1.5s;
}

.circle.waitingForConfirm {
  transition: 0.25s ease 2s;
}

.circle.completed {
  transition: 0.25s ease 2.5s;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.status-section {
  padding: 0 5% 0 5%;
}

.progress-description {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.description-box {
  color: var(--text-color-empty);
  text-align: center;
  width: 15%;
}

.description-box.waitingForPayment {
  transition: color 0.25s ease 0.5s;
}

.description-box.waitingConfirmSlip {
  transition: color 0.25s ease 1s;
}

.description-box.waitingForShipping {
  transition: color 0.25s ease 1.5s;
}

.description-box.waitingForConfirm {
  transition: color 0.25s ease 2s;
}

.description-box.completed {
  transition: color 0.25s ease 2.5s;
}

.description-box.active {
  color: var(--color-text);
}
