.headSearch > h1{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}
.headSearch > p{
    font-size: 16px;
    color: #888;
}

.detailSearch{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    max-width: 20%;
}

.searchSort{
    margin-right: 0;
    max-width: 30%;
    min-width: 9em;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.searchSort > span{
    margin-left: 1em;
}

/* .row{
    overflow-x: scroll;
} */

.sortFilter{
    position: absolute;
    /* left: 77.1%; */
    right: 50px;
}

#select2{
    position: absolute;
    margin-left: 5px;
    border: 3px solid #C3D3E0;
    right: 7rem;
    margin-bottom: 1rem;
    top: 7.5rem;
    /* width: 290px; */
}
#select1{
    position: absolute;
    margin-left: 5px;
    border: 3px solid #C3D3E0;
    right: 7rem;
    top: 10rem;
}

.searchCategory{
    position: absolute;
    top: 7.5rem;
    right: 2rem;
}
.searchSortBy{
    position: absolute;
    top: 10rem;
    right: 2rem;
}

.searchRow{
    margin-left: 1%;
    /* justify-content: space-around;
    align-content: flex-start; */
}

.topSearch{
    display: flex;
    justify-content: space-between;
}


/* .carousel-item{
    border: 1px solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}

.carousel-inner{
    display: flex;
    box-sizing: border-box;
}

.testbox{
    border: 1px solid black;
    width: 5px;
    height: 5px;
    background-color: blue;
}

.sr-only{
    color: blue;
}

.d-block{
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}



#slider{
    height: 1000px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}

.container{
    border: 1px solid black;
    width: 1600px;
    margin: auto;
}

.subcontainer{
    border: 1px solid black;
    width: 85%;
    margin: auto;
}

.controller{
    display: flex;
    justify-content: space-between;
}

.previous, .next{
    padding: 2px;
    width: 30px;
    cursor: pointer;
}

.slide-card{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

@media(max-width:1600px){
    .container{
        width: 100%;
    }
}


.overflow-auto{
    height: 30px;
} */