.headSearch{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

.detailSearch{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.scrolling-wrapper::-webkit-scrollbar{
    display: none;
}

/* .row{
    overflow-x: scroll;
} */