.successIconWrapper {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.successIcon{
  height: 100%;
  width: 100%;
}

.desc {
  height: 150px;
  max-width: 50%;
  margin: 0 auto;
}
.desc > h1, .desc > p{
  text-align: center;
  margin-top: 1em;
}

.returnsignin{
  margin: 0 auto;
  width: fit-content;
}