.btn-list {
    display: flex;
}

.Report {
    position: absolute;
    right: 50px;
    border-radius: 20%;
}

.PopupCon {
    position: absolute;
    right: 150px;
    border-radius: 20%;
}

.PopupRe {
    position: absolute;
    right: 250px;
    border-radius: 20%;
}