.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
 * Custom Colors
*/

:root {
  --color-primary: #c3d3e0;
  --color-secondary: #a3bcd0;
  --color-text: #2b4257;
  --color-dark: #091235;
  --color-attention: #f08c00;
  --color-grey-box: #f8f9fa;
  --radius: 20px;
}
/* General */
html,
#root {
  background-color: var(--color-primary);
}

/* Main */
main {
	background-color: white;
	height: 100%;
  border-radius: var(--radius)
}