.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
 * Custom Colors
*/

:root{
	--color-primary: #C3D3E0;
	--color-secondary: #A3BCD0;
	--color-dark: #091235;
	--radius: 20px;
}
/* General */
html, #root{
	background-color: var(--color-primary);
}


/* Nav Bar*/
.navbar, .navbar .navbar-brand{
	background-color: var(--color-primary);
	color: var(--color-dark);
}

#nav-search {
	border-radius: var(--radius);
	background-color: var(--color-secondary)
}

/* Main */
main {
	background-color: white;
	height: 100%;
	border-radius: var(--radius)
}

.btn-list {
  display: flex;
}

.Report {
  position: absolute;
  right: 50px;
  border-radius: 20%;
}

.PopupCon {
  position: absolute;
  right: 150px;
  border-radius: 20%;
}

.PopupRe {
  position: absolute;
  right: 250px;
  border-radius: 20%;
}

.AucProImg {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  margin: auto;
  margin-top: 30px;
}

.AucPro {
  /* display: grid; */
  display: flex;
  padding: 10px;
}

.AucDetail {
  width: 650px;
  margin: auto;
  margin-top: 50px;
  margin-left: 0px;
}

.AucDes {
  /* width: 650px; */
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.AucAllStat {
  margin-top: 10px;
  display: flex;
  /* border: 1px solid black; */
  /* padding: 10px; */
}

.AucRating {
  width: 150px;
  /* border: 1px solid black; */
  margin: auto;
  margin-left: 0px;
  margin-top: 0px;
}

.AucBadges {
  width: 150px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 0px;
}

.AucStat {
  width: 300px;
  /* border: 1px solid black; */
  margin: auto;
  margin-right: 0px;
  margin-top: 0px;
}

.btn-scroll {
  height: 50px;
  width: 25px;
}

.review-card {
  border: 1px solid black;
  width: 300px;
  height: 250px;
  border-radius: 10%;
  margin-left: 15px;
  margin-right: 15px;
  /* padding: 15px; */
}

.auction-card {
  border: 1px solid black;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.auc-pro-head {
  margin-top: 30px;
  margin-left: 30px;
}

.review,
.auctions {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-scroll {
  margin-top: 110px;
}

.review-list,
.auction-list {
  display: flex;
  padding: 15px;
}

.review-detail {
  margin: 10px
}

.review-text {
  margin-top: 10px;
}

.report-text {
  width: 400px;
  height: 200px;
  margin-left: 25px;
}

.tracking-img {
  border: 1px solid black;
  border-radius: 25px;
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.billing {
  position: absolute;
  right: 30px;
  top: 10px;
  border: 1px solid white;
  background-color: white;
  color: blue;
}

.modal-body-review {
  margin-top: 20px;
  margin-left: 45px;
  margin-bottom: 20px;
}

.review-box {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 250px;
  margin-top: 20px;
}

.faq-title {
  margin: 20px 0px 30px 20px;
}

.Q1-1,
.Q2-1,
.Q3-1 {
  background-color: #eaeff1;
  /* position: relative;
  left: -16px;
  right: 25px; */
  margin-left: -16px;
  margin-right: -16px;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.question {
  margin-left: 75px;
}

.Q1-2,
.Q2-2 {
  display: flex;
  margin-bottom: 50px;
}

.Q1-2 h4,
.Q2-2 h4 {
  margin-left: 61px;
  /* border: 1px solid black; */
  width: 30px
}

.Q1-2 div,
.Q2-2 div {
  /* border: 1px solid black; */
  margin-top: 5px;
  font-weight: bold;
}

.Q2-2 div {
  width: 800px;
}

.bid-step-table {
  /* border: 1px solid black; */
  border-radius: 25%;
  margin: auto;
  width: 750px;
  text-align: center;
  margin-bottom: 50px;
}

.bid-step-table thead {
  background-color: var(--color-secondary);
  justify-content: center;
  height: 50px;
}

.bid-step-table tbody {
  background-color: var(--color-primary);
  justify-content: center;
  height: 100px;
}

.table-body td {
  font-weight: bold;
}