.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
 * Custom Colors
*/

:root {
  --color-primary: #c3d3e0;
  --color-secondary: #a3bcd0;
  --color-text: #2b4257;
  --color-dark: #091235;
  --color-attention: #f08c00;
  --color-grey-box: #f8f9fa;
  --radius: 20px;
}
/* General */
html,
#root {
  background-color: var(--color-primary);
}

/* Nav Bar*/
.navbar,
.navbar .navbar-brand {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

#nav-search {
  border-radius: var(--radius);
  background-color: var(--color-secondary);
}

/* Main */
main {
  background-color: white;
  height: 100%;
  border-radius: var(--radius);
}

/* Place Auction */
.form {
  color: var(--color-text);
  margin: 1rem 0 1rem 10rem;
}

.subForm {
  margin: 1rem 0 1rem 10rem;
}

.formHeading1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.formLabel {
  font-size: 1rem;
  font-weight: 400;
}

.header {
  color: var(--color-text);
  padding: 1rem 0 0 2rem;
}

.form-control {
  border-color: var(--color-primary);
}

.attention {
  color: var(--color-attention);
}

.form-control {
  border-width: 5px;
}

.preview-picture {
  max-width: 100%;
  height: auto;
}

.form-footer {
  margin: 1rem 0 1rem 10rem;
}

.first-button {
  margin-right: 20px;
}

.promptpayqrpic {
  max-width: 40%;
  height: auto;
}

.center-pic {
  display: flex;
  justify-content: center;
}

.transaction-slip-pic {
  max-width: 50%;
  height: auto;
}

.address-box {
  background-color: var(--color-grey-box);
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 20px;
}
